@(repos: Iterable[Repo])(implicit request: play.api.mvc.RequestHeader)


@main("Repos", None) {
    <script type="template/underscore" id="repoAuthorAllocationItems">
        <table>
            <thead>
                <tr>
                    <th> Repo Author </th>
                    <th> Author Name </th>
                </tr>
            </thead>
            <tbody>
            <% repoAuthors.each(function(repoAuthor) { %>
                <tr>
                    <td><%= repoAuthor.get("name") %></td>
                    <td>
                        <% if (repoAuthor.has("author")) { %>
                            <% if (repoAuthor.get("author").id == loggedOnUser.id) { %>
                                <input type="checkbox" id='<%= repoAuthor.get("id") %>' checked/>
                            <% } else { %>
                                <%= repoAuthor.get("author").name %>
                            <% } %>
                        <% } else if (loggedOnUser.id != undefined) { %>
                            <input type="checkbox" id='<%= repoAuthor.get("id") %>'/>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </script>

    <div class="modal fade" id="repoAuthorAllocation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Assign Repo Authors</h4>
                </div>
                <div class="modal-body">
                    <table id="repoAuthorAllocationList"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h1>Repos</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subversion</th>
            </tr>
        </thead>
        <tbody>
        @for(repo <- repos) {
            <tr>
                <td><a href="@routes.Repos.show(repo.id)"> @repo.name </a></td>
                <td>
                    @{ repo.credentials.url} (@{ repo.credentials.userName})
                <button type="button" class="btn" id="authorsBTN">Authors</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<script src='@routes.Assets.at("javascripts/views/repos.list.js")' type="text/javascript"></script>
