@(firstRevisionEntry: models.RevisionEntry, secondRevisionEntry: models.RevisionEntry, difference: services.RevisionEntryDifference)

<style>
td.linenum {
padding : 0 5px 0 0 ;
border : 0 ;
text-align : right ;
font-size : x-small ;
vertical-align : top ;
margin : 0 ;
}
td.gap {
padding : 0 ;
border : 0 ;
margin : 0 ;
}
td.source {
padding : 0 ;
border : 0 ;
white-space : pre-wrap ;
font-family : monospace ;
margin : 0 ;
}
</style>

<script type="template/underscore" id="initial_annotation">
    <tr class="collapse" id="<%- commentLine.name() %>">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div>
                <button type="button" class="btn btn-default btn-sm" name="AddCommentBTN"><span class="glyphicon glyphicon-comment"></span>
                    Add Comment</button>
                <button type="button" class="btn btn-default btn-sm" name="RaiseIssueBTN"><span class="glyphicon glyphicon-flash"></span>
                    Raise Issue</button>
            </div>
        </td>
    </tr>
</script>

<script type="template/underscore" id="show_commentary">
    <ul class="list-group" id="<%- feedbackItem.name() %>">
        <li class="list-group-item issue">
            <div class="issue author"><%- feedbackItem.author %></div>
            <div class="issue since_raised"><%- feedbackItem.when %></div>
            <div class="issue content"><%- feedbackItem.commentary %></div>
        </li>
        <% _.each(feedbackItem.feedbackOnComment, function(fof) { %>
        <li class="list-group-item issue" id="<%- fof.name() %>">
            <div class="issue author"><%- fof.author %></div>
            <div class="issue since_raised"><%- fof.when %></div>
            <div class="issue content"><%- fof.commentary %></div>
        </li>
        <% }); %>
        <% if (feedbackItem.draftFeedbackOnComment == undefined) { %>
            <li class="list-group-item"><button type="button" class="btn btn-sm" name="RespondToCommentBTN"><span class="glyphicon glyphicon-comment"></span> Respond</button></li>
        <% } else { %>
            <li class="list-group-item" id="<%- feedbackItem.draftFeedbackOnComment.name() %>">
                <textarea id="<%- feedbackItem.draftFeedbackOnComment.name() %>TXT"></textarea>
                <button type="button" class="btn btn-default btn-sm" name="SaveDraftFeedbackOnCommentBTN"><span class="glyphicon glyphicon-comment"></span> Save</button>
                <button type="button" class="btn btn-sm" name="CancelDraftFeedbackOnCommentBTN"><span class="glyphicon glyphicon-comment"></span> Cancel</button>
            </li>
        <% } %>
    </ul>
</script>

<script type="template/underscore" id="show_issue">
    <ul class="list-group" id="<%- feedbackItem.name() %>">
        <li class="list-group-item issue">
            <div class="issue author"><%- feedbackItem.author %></div>
            <div class="issue since_raised"><%- feedbackItem.when %></div>
            <div class="issue status"><%- feedbackItem.status %></div>
            <div class="issue content"><%- feedbackItem.commentary %></div>
        </li>
        <% _.each(feedbackItem.feedbackOnIssue, function(foi) { %>
        <li class="list-group-item issue" id="<%- foi.name() %>">
            <div class="issue author"><%- foi.author %></div>
            <div class="issue since_raised"><%- foi.when %></div>
            <div class="issue content"><%- foi.commentary %></div>
        </li>
        <% }); %>
        <% if (feedbackItem.draftFeedbackOnIssue == undefined) { %>
            <li class="list-group-item">
                <button type="button" class="btn btn-sm" name="RespondToIssueBTN"><span class="glyphicon glyphicon-comment"></span> Respond</button>
                <% if (feedbackItem.status == "Open") { %>
                    <button type="button" class="btn btn-sm" name="CloseIssueBTN"><span class="glyphicon glyphicon-comment"></span> Close</button>
                <% } %>
            </li>
        <% } else { %>
            <li class="list-group-item" id="<%- feedbackItem.draftFeedbackOnIssue.name() %>">
                <textarea id="<%- feedbackItem.draftFeedbackOnIssue.name() %>TXT"></textarea>
                <button type="button" class="btn btn-default btn-sm" name="SaveDraftFeedbackOnIssueBTN"><span class="glyphicon glyphicon-comment"></span> Save</button>
                <button type="button" class="btn btn-sm" name="CancelDraftFeedbackOnIssueBTN"><span class="glyphicon glyphicon-comment"></span> Cancel</button>
            </li>
        <% } %>
    </ul>
</script>

<script type="template/underscore" id="show_commentarydraft">
    <ul class="list-group" id="<%- feedbackItem.name() %>">
        <li class="list-group-item">
            <textarea id="<%- feedbackItem.name() %>TXT"></textarea>
            <button type="button" class="btn btn-default btn-sm" name="SaveNewCommentBTN"><span class="glyphicon glyphicon-comment"></span> Save</button>
            <button type="button" class="btn btn-sm" name="CancelNewCommentBTN"><span class="glyphicon glyphicon-comment"></span> Cancel</button>
        </li>
    </ul>
</script>

<script type="template/underscore" id="show_issuedraft">
    <ul class="list-group" id="<%- feedbackItem.name() %>">
        <li class="list-group-item">
            <textarea id="<%- feedbackItem.name() %>TXT"></textarea>
            <button type="button" class="btn btn-default btn-sm" name="SaveNewIssueBTN"><span class="glyphicon glyphicon-comment"></span> Save</button>
            <button type="button" class="btn btn-sm" name="CancelNewIssueBTN"><span class="glyphicon glyphicon-comment"></span> Cancel</button>
        </li>
    </ul>
</script>

<script type="template/underscore" id="revisionNumber">@secondRevisionEntry.id</script>

<!--  -->

@main("Differences", Some(views.BackSelection("Revision " + secondRevisionEntry.revision.id + " - " + secondRevisionEntry.entry.repo.name, "/revisions/" + secondRevisionEntry.revision.id))) {
    <div class="page-header">
        <h1>Differences</h1>

        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    @defining(firstRevisionEntry.revisionNumber) { fromRevisionNumber =>
                        <th>Revision @{ if(fromRevisionNumber < 0) "" else fromRevisionNumber } </th>
                    }
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    @defining(secondRevisionEntry.revisionNumber) { toRevisionNumber =>
                        <th>Revision @{ if(toRevisionNumber < 0) "" else toRevisionNumber} </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(entryLine <- difference.entryDifferences()) {
                <tr>
                    @defining(if(entryLine.fromLineNumber == -1) "white" else if(entryLine.fromLineAnnotation < 1) "aliceblue" else if(entryLine.fromLineAnnotation == 1) "tomato" else if(entryLine.fromLineAnnotation == 2) "greenyellow" else "sandybrown") { fromColour =>
                        <td class="linenum" style='background-color : @fromColour'>@entryLine.fromLineNumberAsString </td>
                        <td class="source" style='background-color : @fromColour'>@entryLine.fromLine </td>
                    }
                    <td class="gap">&nbsp;</td>
                    @defining(if(entryLine.toLineNumber == -1) "white" else if(entryLine.toLineAnnotation < 1) "aliceblue" else if(entryLine.toLineAnnotation == 1) "tomato" else if(entryLine.toLineAnnotation == 2) "greenyellow" else "sandybrown") { toColour =>
                        <td class="linenum" style='background-color : @toColour'>@entryLine.toLineNumberAsString </td>
                        <td class="source" id="@entryLine.toLineNumber" style='background-color : @toColour'>@entryLine.toLine </td>
                    }
                </tr>

                }
                </tbody>
            </table>
        </div>
    }

<script src='@routes.Assets.at("javascripts/jquery.tablesorter.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/diff_helpers.js")' type="text/javascript"></script>
