<%
var respondingAuthor = event.author();
var feedbackItem = event.stateFeedbackItem();
var revisionEntry = feedbackItem.revisionEntry();
var revision = feedbackItem.revision();
%>
<div class="cr-title"><%- respondingAuthor.name() %> responded to feedback against <%- revision.author() %>'s revision #<%-
    revision.number() %> <abbr class="timeago" title="<%- event.get('when') %>"></abbr>
</div>
<strong><%- feedbackItem.comment() %></strong> <br>
<small><%- revisionEntry.entry().path %> line <%- feedbackItem.lineNumber() %></small>
<div class="cr-hidden-detail hide">
    <div class="cr-form">
        <div class="cr-row">
            <div class="cr-label">Repo</div>
            <div class="cr-value"><%- revision.repo().name %></div>
        </div>
        <div class="cr-row">
            <div class="cr-label">Commit</div>
            <div class="cr-value"><%- revision.logMessage() %></div>
        </div>
        <div class="cr-row">
            <div class="cr-label">Feedback</div>
            <div class="cr-value"><%- feedbackItem.comment() %></div>
        </div>
        <div class="cr-row">
            <div class="cr-label">Response</div>
            <div class="cr-value"><%- event.get("state").comment %></div>
        </div>
    </div>
    <div class="btn-group btn-group-justified">
        <div class="btn btn-default" data-url="/repos/<%- revision.repo().id %>">Repo...</div>
        <div class="btn btn-default" data-url="/revisions/<%- revision.id %>/html">Revision...</div>
        <div class="btn btn-default" data-url="/revisionEntries/diff/<%- revisionEntry.id %>/<%- feedbackItem.lineNumber() %>">Feedback...</div>
    </div>
</div>