<table class="table">
    <% revisions.forEach(function(revision) { %>
    <tr id="<%- prefix %>-<%- revision.id %>">
        <td>
            <span class="repoName clickTarget"><%- revision.get("repo").name %></span> <%- revision.get("date") %> <%- revision.author() %> <br>
            <div class="revisionLogMessage clickTarget"><%- revision.get("logMessage") %></div>
            <% if (revision.reviewInProgress()) { %>
                Reviewer: <%- revision.reviewAuthor().get("name") %>
            <% } %>
            <% if (showFeedback) { %>
                <br>
                <ul>
                <% revision.revisionEntries().forEach(function(entry) { %>
                    <li id="<%- prefix %>-<%- entry.id %>"><span class="revisionEntryPath clickTarget"><%- entry.get("entry").path %></span>
                    <% if (entry.hasFeedback()) { %>
                        <ul>
                        <% entry.feedback().forEach(function(feedback) { %>
                            <li id="<%- prefix %>-<%- feedback.id %>">
                                <%- feedback.lineNumber() %>: <%- feedback.comment() %>
                                <% if (feedback.hasResponses()) { %>
                                    <ul>
                                        <% feedback.responses().forEach(function(response) { %>
                                            <%- response.comment() %>
                                        <% }); %>
                                    </ul>
                                <% } else { %>
                                    (no responses)
                                <% } %>
                            </li>
                        <% }); %>
                        </ul>
                    <% } %>
                    </li>
                <% }); %>
                </ul>
            <% } %>
        </td>
    </tr>
    <% }); %>
</table>