<table>
    <thead>
    <tr>
        <th>Repo</th>
        <th>Date</th>
        <th>Message</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <% revisions.forEach(function(revision) { %>
    <tr id="<%- prefix %>-<%- revision.id %>">
    <td> <%- revision.get("repo").name %></td>
        <td width="140px"> <%- revision.get("date") %></td>
        <td><a href="#"><%- revision.get("logMessage") %></a></td>
        <td> <%- revision.author() %></td>
    </tr>
    <% }); %>
    </tbody>
</table>