@()(implicit request: play.api.mvc.RequestHeader)

@main("Workspace", None) {
    <div class="header"><h1>&nbsp;</h1></div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Reviewing</h3>
                </div>
                <div class="panel-body">
                    <div id="myReviewRevisions" class="revisions" data-collection="/revisions?query=inProgressMine" data-show-feedback="true"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Open Tasks On My Revisions</h3>
                </div>
                <div class="panel-body">
                    <div id="myOpenRevisions" class="revisions" data-collection="/revisions?query=myOpenRevisions" data-show-feedback="true"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Open Tasks On My Reviews</h3>
                </div>
                <div class="panel-body">
                    <div id="myOpenReviews" class="revisions" data-collection="/revisions?query=myOpenReviews" data-show-feedback="true"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Reviews In Progress</h3>
                </div>
                <div class="panel-body">
                    <div id="inProgressRevisions" class="revisions" data-collection="/revisions?query=inProgress" data-show-feedback="false"></div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Reviews Outstanding</h3>
                </div>
                <div class="panel-body">
                    <div id="outstandingRevisions" class="revisions" data-collection="/revisions?query=outstanding" data-show-feedback="false"></div>
                </div>
            </div>
        </div>
    </div>
}

<script src='@routes.Assets.at("javascripts/models.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/portlets/outstandingRevisions.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/portlets/event.js")' type="text/javascript"></script>

