@(revision: Revision)(implicit request: play.api.mvc.RequestHeader)

@main("Revision", Some(views.BackSelection(revision.repo.name, "/repos/" + revision.repo.id))) {
    <div id="revisionid">@revision.id</div>

    <div class="page-header">
        <h1>Revision</h1>
    </div>

    <div id="revisionDetail"></div>

    <table class="table table-condensed tablesorter" id="bob2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Operation</th>
                <th>Entry</th>
            </tr>
        </thead>
        <tbody>
        @for(revisionEntry <- revision.revisionEntries) {
            <tr>
                <td> @revisionEntry.id </td>
                <td> @revisionEntry.operation </td>
                <td> @revisionEntry.entry.path <a href="@routes.RevisionEntries.diffAgainstPreviousRevision(revisionEntry.id)"> Changes </a> </td>
            </tr>
        }
        </tbody>
    </table>
}

<script src='@routes.Assets.at("javascripts/models.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/views/revisions.js")' type="text/javascript"></script>

